
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>Sample 1</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta content="Sample content" name="description" />
  <meta content="sample-author" name="author" />
  <link rel="/shortcut icon" href="images/favicon.ico"/>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body id="body-main">
  <header id="iframe-header">
    <iframe src="/_header.html" style="display:none" id="iframe-header"></iframe>
    <div id="topnav">
      <div class="top-header-animation">
        <div id="particles-js" class="zindex1"></div>
      </div>
      <div class="added-element-header"></div>
    </div>
  </header>
  <section>
    <div class="spinner">
      <div class="loader">
        <div class="bounce loader1 "></div>
        <div class="bounce loader2 "></div>
      </div>
    </div>
  </section>
  <div class="wrapper">
    <div class="zurb-full">
      <div class="new-row zurb-row">
        <div class="zurb-div-sm-12">         
          <h4 class="page-title">教练信息查看</h4>
        </div>
      </div>
      <div class="new-row zurb-row">
        <div class="zurb-div-lg-8 zurb-div-md-12">
          <div class="card m-b-20">
            <div class="card-body">
              <div class="productdec text-center">
                <img th:src="${coach.img}"/>
              </div>
              <div class="text-center m-t-20 m-b-20">
              </div>
              <h4 class="m-b-0 m-t-20">详细信息</h4>
              <div class="pro_detail">
                <ul class="list-unstyled">
                  <li class="new-row zurb-row">
                    <div class="zurb-div-sm-3 text-muted m-b-10">姓名</div>
                    <div class="zurb-div-sm-3 m-b-10">[[${coach.name}]]</div>
                  </li>
                  <li class=" row">
                    <div class="zurb-div-sm-3 text-muted m-b-10">地址</div>
                    <div class="zurb-div-sm-3 m-b-10">[[${coach.address.province}]][[${coach.address.city}]][[${coach.address.county}]][[${coach.address.town}]][[${coach.address.detail}]]</div>
                  </li>
                  <li class="p-b-20 row">
                    <div class="zurb-div-sm-3 text-muted m-b-10">联系方式</div>
                    <div class="zurb-div-sm-3 m-b-10">[[${coach.phone}]]</div>
                  </li>
                  <li class="p-b-20 row">
                    <div class="zurb-div-sm-3 text-muted m-b-10">流派</div>
                    <div class="zurb-div-sm-3 m-b-10">[[${coach.school}]]</div>
                  </li>
                  <li class="p-b-20 row">
                    <div class="zurb-div-sm-3 text-muted m-b-10">是否被认证</div>
                    <div class="zurb-div-sm-3 m-b-10"><span id="authentication">否</span></div>
                  </li>
                  <li class="p-b-20 row">
                    <div class="zurb-div-sm-3 text-muted m-b-10">签约的场馆</div>
                    <div th:each="venues:${coach.venues}">
                    <table border="1px">
								<tbody>
									<tr>
										<td>场馆名称: <span th:text="${venues.name}"></span></td>
										<td>场馆描述: <span th:text="${venues.detail}"></span></td>
									</tr>
								</tbody>
					</table>
                    </div>
                  </li>
				<li class="p-b-20 row">
                  <a th:href="@{findCoachCourse(uid=${coach.uid})}">查看他的课程信息</a>
                  </li>
                </ul>
				<a href="javascript:void(0);" id="contact" class="btn btn-primary"><i class="ti-shopping-cart"> </i> 留言</a><br/>
				<a href="javascript:void(0);" id="follows1" class="btn btn-primary"><i class="ti-shopping-cart"> </i>关注</a><br/>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="spacer20"></div>
  </div>
  <footer class="footer">
    <div class="zurb-contents">
      <div class="new-row zurb-row">
        <div class="zurb-div-12 text-center"> Eon Admin © 2018-2019. All Rights Reserved By: <strong> Spruko</strong>
        </div>
      </div>
    </div>
  </footer>
  <a href="#body-main " id="goTop"><i class="fa fa-chevron-up"></i></a>
  <script  src="/js/jquery.min.js"></script>
  <script  src="/js/popper.min.js"></script>
  <script  src="/js/bootstrap.min.js"></script>
  <script  src="/js/waves.js"></script>
  <script  src="/js/jquery.slimscroll.js"></script>
  <script  src="/js/modernizr.min.js"></script>
  <script  src="/js/plugins/particles.js-master/particles.js"></script>
  <script  src="/js/plugins/particles.js-master/particlesapp_bubble.js"></script>
  <script  src="/js/equalize.min.js"></script>
  <script  src="/js/jquery.core.js"></script>
  <script  src="/js/jquery.app.js"></script>
  <script  src="/js/created.js"></script>
  <script  src="/js/venues.js"></script>
  <script type="text/javascript" th:inline="javascript">
  $(function(){
	  
	  $("#contact").click(function(){
		  var id = [[${coach.uid}]]
		  location.href="http://localhost:8080/user/chat1?otherId="+id
	  })
	  
	  $("#follows1").click(function(){
		  
		  var coach = [[${coach.uid}]]
		  location.href="/follows/insertFollows?followuid="+coach;
		 
	  })
	  
	  var uid = [[${coach.authentication}]];
		if(uid==0){
			$("#authentication").html("未认证");
		}
		if(uid==1){
			$("#authentication").html("已认证");
		} 
  });		
</script>
</body>

</html>
