<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Sample 1</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="Sample content" name="description" />
  <meta content="sample-author" name="author" />
  <link rel="shortcut icon" href="images/favicon.ico">
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body id="body-main">
  <header id="iframe-header">
    <iframe src="_header.html" style="display:none" id="iframe-header"></iframe>
    <div id="topnav">
      <div class="top-header-animation">
        <div id="particles-js" class="zindex1"></div>
      </div>
      <div class="added-element-header"></div>
    </div>
  </header>
  <section>
    <div class="spinner">
      <div class="loader">
        <div class="bounce loader1 "></div>
        <div class="bounce loader2 "></div>
      </div>
    </div>
  </section>
  <div class="wrapper">
    <div class="zurb-full">
      <div class="new-row zurb-row">
        <div class="zurb-div-sm-12">
          <div class="hide-bread float-right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Pages</a></li>
              <li class="breadcrumb-item">Profile</li>
            </ol>
          </div>
          <h4 class="page-title">Profile</h4>
        </div>
      </div>
      <div class="new-row zurb-row">
        <div class="zurb-div-xl-12">
          <div class="card m-b-20 text-white">
            <div class="card-body text-center profile-bg">
              <div class="p-20">
                <a href="#" class="profile-info-name  m-b-20"><img src="images/profile.jpg" class="img-thumbnail thumb-md rounded-circle" alt=""></a>
                <h4 class="card-text">Matt Walsh</h4>
                <p class="text-white ">Project Manager</p>
                <p> which of us ever undertakes laborious physical majority have suffered exercise sure there isn't anything embarrassing</p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="zurb-div-xl-4">
          <div class="card m-b-20">
            <h5 class="card-header">Friends</h5>
            <div class="card-body">
              <ul class="list-group m-b-0 user-list">
                <li class="list-group-item">
                  <div class="pull-left">
                    <a href="#" class="user-list-item">
                      <div class="avatar">
                        <img src="images/users/avatar-8.jpg" alt="">
                      </div>
                      <div class="user-desc">
                        <span class="name">Benjamin Peake</span>
                        <span class="desc">App developer</span>
                      </div>
                    </a>
                  </div>
                  <div class="pull-right">
                    <a href="" class="btn btn-outline-default btn-rounded  btn-sm"><i class="ti-user"></i> Friend</a>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="pull-left">
                    <a href="#" class="user-list-item">
                      <div class="avatar">
                        <img src="images/users/avatar-7.jpg" alt="">
                      </div>
                      <div class="user-desc">
                        <span class="name">Luke Buckland</span>
                        <span class="desc">Sales Reprentative</span>
                      </div>
                    </a>
                  </div>
                  <div class="pull-right">
                    <a href="" class="btn btn-outline-default btn-rounded  btn-sm"><i class="ti-user"></i> Friend</a>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="pull-left">
                    <a href="#" class="user-list-item">
                      <div class="avatar">
                        <img src="images/users/avatar-6.jpg" alt="">
                      </div>
                      <div class="user-desc">
                        <span class="name">Lillian Smith</span>
                        <span class="desc m-b-0">Web Developer</span>
                      </div>
                    </a>
                  </div>
                  <div class="pull-right">
                    <a href="" class="btn btn-outline-default btn-rounded  btn-sm"><i class="ti-user"></i> Friend</a>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="pull-left">
                    <a href="#" class="user-list-item">
                      <div class="avatar">
                        <img src="images/users/avatar-5.jpg" alt="">
                      </div>
                      <div class="user-desc">
                        <span class="name">Owen James</span>
                        <span class="desc">Sr.Manager</span>
                      </div>
                    </a>
                  </div>
                  <div class="pull-right">
                    <a href="" class="btn btn-outline-default btn-rounded  btn-sm"><i class="ti-user"></i> Friend</a>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="pull-left">
                    <a href="#" class="user-list-item">
                      <div class="avatar">
                        <img src="images/users/avatar-4.jpg" alt="">
                      </div>
                      <div class="user-desc">
                        <span class="name">Simon Jones</span>
                        <span class="desc">Asst.Professor</span>
                      </div>
                    </a>
                  </div>
                  <div class="pull-right">
                    <a href="" class="btn btn-outline-default btn-rounded  btn-sm"><i class="ti-user"></i> Friend</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="zurb-div-xl-8">
          <div class="card m-b-20">
            <div class="card-body">
              <div class="clearfix">
                <div class="pull-left">
                  <a href="#" class="btn btn-pink btn-sm waves-effect waves-light ">
                    <i class="fa fa-user"></i> Add Friends</a>
                  <a href="#" class="btn btn-sm btn-purple waves-effect waves-light">
                    <i class="fa fa-user-plus"></i> Following</a>
                  <a href="#" class="btn btn-sm btn-custom waves-effect waves-light ">
                    <i class="fa fa-paper-plane"></i> Message</a>
                </div>
                <div class="pull-right hide-phone">
                  <img src="images/users/avatar-2.jpg" class="rounded-circle thumb-sm" alt="friend" />
                  <img src="images/users/avatar-3.jpg" class="rounded-circle thumb-sm" alt="friend" />
                  <img src="images/users/avatar-4.jpg" class="rounded-circle thumb-sm" alt="friend" />
                  <img src="images/users/avatar-5.jpg" class="rounded-circle thumb-sm" alt="friend" />
                </div>
              </div>
              <hr>
              <h4 class="header-title m-t-20 m-b-10">About</h4>
              <p> which of us ever undertakes laborious physical exercise sure there isn't anything embarrassing hidden in the middle of text majority have suffered alteration But who has any right to find fault with a man who chooses to enjoy a
                pleasure that has no annoying consequences.</p>
              <button type="button" class="btn btn-sm btn-default waves-effect waves-light ">Read More</button>
              <form method="post" class="m-t-20 mb-0">
                <span class="input-icon icon-right">
                  <textarea rows="2" class="form-control" placeholder="What is your mind today?"></textarea>
                </span>
                <div class="p-t-10 pull-right">
                  <a class="btn  btn-success waves-effect waves-light">Send</a>
                </div>
                <ul class="nav nav-pills profile-pills m-t-20">
                  <li>
                    <a href="#"><i class="fa fa-user"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-video-camera"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class=" fa fa-camera"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-map-marker"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-smile-o"></i></a>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="new-row zurb-row">
        
      </div>
      <div class="new-row zurb-row">
        <div class="zurb-div-xl-8">
          <div class="card m-b-20">
            <h5 class="card-header">Comments</h5>
            <div class="card-body">
              <div class="comment">
                <img src="images/users/avatar-11.jpg" alt="" class="comment-avatar">
                <div class="comment-body">
                  <div class="comment-text">
                    <div class="comment-header">
                      <a href="#" title="">Madeleine Hunter</a><span> 1 day ago</span>
                    </div> Design for dashboard, login page and user profile page completed.
                  </div>
                  <div class="comment-footer">
                    <a href="#"><i class="fa fa-thumbs-o-up text-dark"> 234</i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down text-dark"> 567</i></a>
                    <a href="#">Reply</a>
                  </div>
                </div>
                <div class="comment">
                  <img src="images/users/avatar-12.jpg" alt="" class="comment-avatar">
                  <div class="comment-body">
                    <div class="comment-text">
                      <div class="comment-header">
                        <a href="#" title="">Benjamin Peake</a><span> 2 hour ago</span>
                      </div> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                    </div>
                    <div class="comment-footer">
                      <a href="#"><i class="fa fa-thumbs-o-up text-dark"> 567</i></a>
                      <a href="#"><i class="fa fa-thumbs-o-down text-dark"> 345</i></a>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comment">
                <img src="images/users/avatar-10.jpg" alt="" class="comment-avatar">
                <div class="comment-body">
                  <div class="comment-text">
                    <div class="comment-header">
                      <a href="#" title="">Steven Harris</a><span>7 hours ago</span>
                    </div> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae .
                  </div>
                  <div class="comment-footer">
                    <a href="#"><i class="fa fa-thumbs-o-up text-dark"> 123</i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down text-dark"> 453</i></a>
                    <a href="#">Reply</a>
                  </div>
                </div>
              </div>
              <div class="comment">
                <img src="images/users/avatar-9.jpg" alt="" class="comment-avatar">
                <div class="comment-body">
                  <div class="comment-text">
                    <div class="comment-header">
                      <a href="#" title="">Vanessa Wilson</a><span>2 days ago</span>
                    </div> Uploaded images gallary
                  </div>
                  <div class="m-t-10">
                    <a href="">
                      <img src="images/small/img1.jpg" alt="" class="thumb-md">
                    </a>
                    <a href="">
                      <img src="images/small/img2.jpg" alt="" class="thumb-md">
                    </a>
                    <a href="">
                      <img src="images/small/img3.jpg" alt="" class="thumb-md">
                    </a>
                  </div>
                  <div class="comment-footer">
                    <a href="#"><i class="fa fa-thumbs-o-up text-dark"> 345</i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down text-dark"> 234</i></a>
                    <a href="#">Reply</a>
                  </div>
                </div>
              </div>
              <div class="m-t-30 text-center">
                <a href="" class="btn btn-secondary waves-effect waves-light btn-sm">Load More...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="zurb-div-lg-4">
          <div class="card m-b-20">
            <h5 class="card-header">Followers</h5>
            <div class="card-body">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="zurb-contents">
      <div class="new-row zurb-row">
        <div class="zurb-div-12 text-center"> Eon Admin © 2018-2019. All Rights Reserved By: <strong> Spruko</strong>
        </div>
      </div>
    </div>
  </footer>
  <a href="#body-main " id="goTop"><i class="fa fa-chevron-up"></i></a>
  <script  src="js/jquery.min.js"></script>
  <script  src="js/popper.min.js"></script>
  <script  src="js/bootstrap.min.js"></script>
  <script  src="js/waves.js"></script>
  <script  src="js/jquery.slimscroll.js"></script>
  <script  src="js/modernizr.min.js"></script>
  <script  src="js/plugins/particles.js-master/particles.js"></script>
  <script  src="js/plugins/particles.js-master/particlesapp_bubble.js"></script>
  <script  src="js/equalize.min.js"></script>
  <script  src="js/jquery.core.js"></script>
  <script  src="js/jquery.app.js"></script>
  <script  src="js/created.js"></script>
</body>

</html>
