<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>注册</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="Sample content" name="description" />
  <meta content="sample-author" name="author" />
  <link rel="/shortcut icon" href="/images/favicon.ico">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="particles-js" class="zindex1"></div>
  <!-- <header id="iframe-header">
      <iframe src="_header.html" style="display:none" id="iframe-header"></iframe>
      <div id="topnav">
  <div class="top-header-animation">
    <div id="particles-js" class="zindex1"></div>
  </div>
  <div class="added-element-header"></div>
</div>
    </header> -->
  <section>
    <div class="spinner">
      <div class="loader">
        <div class="bounce loader1 "></div>
        <div class="bounce loader2 "></div>
      </div>
    </div>
  </section>
  <div class="account-pages"></div>
  <div class="clearfix"></div>
  <div class="wrapper-page login-page zurb-div-sm-12 zurb-div-md-4 zindex2">
    <div class="text-center">
      <img src="/images/logo.png" alt="" class="logo-large">
    </div>
    <div class="m-t-20 zurb-div-box p-30">
      <div class="text-center">
        <h3 class="text-uppercase font-bold mb-0">Sign Up</h3>
      </div>
      <div class="">
        <form class="form-horizontal m-t-20" action="index.html">
          <div class="form-group">
            <div class="zurb-div-xs-12">
              <input id="acc" class="form-control" type="text" required="" placeholder="phonenumber">
            </div>
          </div>
          <div class="form-group">
            <div class="zurb-div-xs-12">
              <input id="pwd" class="form-control" type="password" required="" placeholder="Password">
            </div>
          </div>
           <div class="form-group">
            <div class="zurb-div-xs-12">
              <input id="rpwd" class="form-control" type="password" required="" placeholder="Repassword">
            </div>
          </div>
			
			<div class="form-group">
            <div class="zurb-div-xs-12">
              <input id="code" type="text" name="code" Placeholder="验证码" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="zurb-div-xs-12">
            <input  type="button" onclick="registerCode(this)" value="获取验证码">
            <span style="margin-left: 150px;"><a id="mes" style="color: red"></a></span>
                  </div>
          </div>
          <div class="form-group text-center m-t-30">
            <div class="zurb-div-xs-12">
              <button  id="submit" class="btn btn-lg btn-secondary w-lg waves-effect waves-light btn-block" type="button" onclick="register()">Register</button>
            </div>
          </div>
          <div class="form-group m-t-30 mb-0 text-center">
            <div class="zurb-div-sm-12">
              <a href="login.html" class="text-muted">Sign In </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script  src="/js/jquery.min.js"></script>
  <script src="/js/register.js" ></script>
  <script  src="/js/popper.min.js"></script>
  <script  src="/js/bootstrap.min.js"></script>
  <script  src="/js/waves.js"></script>
  <script  src="/js/jquery.slimscroll.js"></script>
  <script  src="/js/modernizr.min.js"></script>
  <script  src="/js/plugins/particles.js-master/particles.js"></script>
  <script  src="/js/plugins/particles.js-master/particlesapp_bubble.js"></script>
  <script  src="/js/equalize.min.js"></script>
  <script  src="/js/jquery.core.js"></script>
  <script  src="/js/jquery.app.js"></script>
</body>

</html>

<!-- <head>
<base>
<meta charset="UTF-8">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="/js/register.js" ></script>
<title>Insert title here</title>
</head>
<body>
<div style="margin-left: 650px ; margin-top: 100px" >
<div ><input id="acc" type="text" name="acc" Placeholder="手机号"></div>
<div ><input id="pwd" type="text" name="acc" Placeholder="密码"></div>
<div ><input id="rpwd" type="text" name="acc" Placeholder="确认密码"></div>
<div ><input id="code" type="text" name="code" Placeholder="验证码"><input type="button" onclick="registerCode()" value="获取验证码"></div>
<div ><input id="submit" type="button" name="submit" value="注册" style="width: 173px;" onclick="register()"></div>
</div>
</body> -->