<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			url:"user/all",
			success:function(result){
				var table = $("<table></table>");
				for(var i=0;i<result.length;i++){
					var user = result[i];
					var tr = $("<tr></tr>");
					var uid = $("<td></td>").text(user.uid);
					var uname = $("<td></td>").text(user.uname);
					var edit = $("<td></td>").html("<a href='user/editUser?uid="+user.uid+"'>编辑</a>")
					tr.append(uid);
					tr.append(uname);
					tr.append(edit);
					table.append(tr);
				}
				$("body").append(table);
			}
		});
	});
</script>
</head>
<body>
	index
</body>
</html>